body{
    font-family: "Poppins", sans-serif;
background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-gap:64px;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}
.grid-3-columns-with-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
.text-center{
    text-align: center;
}
.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;

}
.card{
    background: white;
    margin: 30px 0;

}
.card h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #272044;
    margin: 10px;
    text-align: center;
}
.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}
.btn{
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background: #462cb3;
    text-decoration: none;
    margin: 50px;
}

header{
    background-image:  url("images/books-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
    border-radius: 10px;

}
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
section .secondary{
    background: #f8f8f8;
}
header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin:30px 0;
    color: #132743;
}
header h2{
    font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
        margin: 0;
        color: #132743;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}


header a{
font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
}
main{
    color: white;
}
.information{
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}
.img-relaxing{
width: 500px;
    height: 500px;
    border-radius: 10px;
}
.img-responsive{
width: 100%;
   display: block;
}

.embed-1{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
}
.img-responsive-1 {
    width: 200px;
    height: 200px;
}
.img-responsive-2{
    width: 400px;
        height: 400px;
}

main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0;
}
main h3{
font-weight: 700;
font-size: 40px;
line-height: 1.5;
color: #272044;
margin: 0;
}
main p{
    font-style: normal;
    font-weight: 400;
    font-size: 400;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}
footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/books-03.jpg");
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
footer p{
    font-weight: 400;
    font-size: 16px;
     line-height: 24px;
    opacity: 0.7;
      
}
footer ul {
    padding: 0;
}
footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    opacity: 0.7;
}

@media(max-width: 960px){
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 48px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 20px;
        
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    .img-responsive-1{
        max-width: 100%;
    }
    section{
        padding: 30px;
    }
    .card-header img{
        display:none;
    }
  .embed-1{
     display: none;
  }
        .img-responsive-2{
           display: block;
        }
    
}